.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday" "Monday Tuesday Wednesday Thuersday Friday Saturday Sunday";
}

.Monday { grid-area: Monday;
  background-color: blue;
}

.Tuesday { grid-area: Tuesday; 

}

.Wednesday { grid-area: Wednesday; 

}

.Thuersday { grid-area: Thuersday; 

}

.Friday { grid-area: Friday; 

}

.Saturday { grid-area: Saturday; 

}

.Sunday { grid-area: Sunday; 

}