.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: ; */
  grid-template-areas: "Monday Tuesday Wednesday Thursday Friday Saturday Sunday";
}

.Friday {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." ".";
  grid-area: Friday;
}

.Saturday {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." ".";
  grid-area: Saturday;
}

.Sunday {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." ".";
  grid-area: Sunday;
}

.Monday {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." ".";
  grid-area: Monday;
}

.Tuesday {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." ".";
  grid-area: Tuesday;
}

.Wednesday {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." ".";
  grid-area: Wednesday;
}

.Thursday {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." "." ".";
  grid-area: Thursday;
}
.lane {
  border-right: 1px solid lightgrey;
  min-height: 420px;
  border-radius: 5px;
}
.day h4 {
  text-align: center;
}
#agenda {
  padding-top: 10px;
  width: 100% !important;
  float: left;

}
.currentDay {
  background-color: rgba(78, 104, 235, 0.171);
  border-radius: 5px;
}
.task {
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 17.5px;
}
.taskWrapper {
  width: 90%;
  margin: auto;
}
.nameHolder h5 {
  color: white;
}
.agendaTime h6 {
  text-align: center;
  color: white;
}
.ufoGreen {
  background-color: #2ad674;
}

.plasticPink {
  background-color: #FF1493;
}

.protonPurple {
  background-color: #8A2BE2;
}

.fieryReds {
  background-color: #ce2029;
}

.oceanBlue {
  background-color: #0077be;
}

.sunsetOrange {
  background-color: #fd5e53;
}