.day {
  min-height: 100% !important;
}
.grid-container {
  display: grid;
  min-height: 100% !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" "Monday Tuesday Wednesday Thursday Friday Saturday Sunday";
}

.Monday { grid-area: Monday;
}

.Tuesday { grid-area: Tuesday; 

}

.Wednesday { grid-area: Wednesday; 
}

.Thursday { grid-area: Thursday; 
}

.Friday { grid-area: Friday; 
}

.Saturday { grid-area: Saturday; 
}

.Sunday { grid-area: Sunday; 
}

.lane {
  border-right: 1px solid lightgrey;
  min-height: 100% !important;
}
.day h4 {
  text-align: center;
}
#agenda {
  width: 100% !important;
  float: left;
  height: 400px !important;
}