.left {
    width: 80%;
    float: left;
    min-height: 100% !important;
}
form {
    min-height: 100%;
}
#dashMessage {
    width: 100%;
    height: 80px;
    float: left;
}
#dashboard {
    min-height: 100% !important;
    float: right;
    width: 20%;
    background-color: #7594E7;
}
#dashControls {
    padding: 15px;
}
#dashControls h2 {
    color: white;
    border-bottom: 1px solid white;
}
#taskName {
    border-radius: 5px;
    border: none;
    height: 20px!important;
}
#taskTime {
    border-radius: 5px;
    border: none;
    height: 20px!important;
}
.dashInfo {
    padding: 0 0 15px 0 !important;
}
#discription {
    padding: 0 0 15px 0;
}
#taskDisc {
    border-radius: 5px;
    border: none;
    width: 100%;
}
.star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star {
    color: yellow;
}
#goButton {
    border-radius: 5px;
    border: none;
    background-color: #4E67EB;
    color: white;
    width: 60%;
    padding: 10px;
}
#stopButton {
    border-radius: 5px;
    border: none;
    background-color: #4E67EB;
    color: white;
    width: 30%;
    padding: 10px;
}