@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif !important;
     padding: 0;
     margin: 0; 
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    background: #4e67eb;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.navbar-brand {
    float: left;
    padding: 10px 0;
    margin-left: 3%;
    color: #fff;
    font-size: 400%;
    text-decoration-line: none;
}

nav {
    float: right;
    margin-right: 13%;
}
 
nav ul {
    margin-top: 8%;
    margin-right: 5%;
    padding: 0;
    list-style: none;
    width: 120%;
}

nav li {
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 5%;
}

nav ul li a {
    text-decoration: none;
    font-size: 14px;
}

nav li a, .dropbtn {
    display: inline-block;
    color: #fff;  
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(240, 244, 255, 0.233);
    text-decoration: none;
    transition-duration: 0.45s;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(22, 20, 20, 0.2);
    z-index: 1;
    background-color: #4e67eb;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius:  5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #3a50be;
    transition-duration: 0.45s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#fill{
    height: 306px;
}

#fill1{
    height: 300px;
}

.footer {
    /* clear: both; */
    background-color: #7594E7;
    color: #000;
    text-align: center;
    max-height: 20px;
}
.footer p {
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: #7594E7;
} 
