@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif !important;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#header {
    width: 100%;
    /* height: 40px; */
}
nav {
    width: 100%;
    height: 150px !important;
    background: #4e67eb;
    filter: drop-shadow(3px 6px 6px rgba(36, 33, 33, 0.65));
    padding: 2% 3% 2% 2%;
    margin-bottom: 0 !important;
}

nav ul {
 list-style-type: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

a.navbar-brand {
    color: #fff;
    font-size: 450%;
} 

ul { 
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-left: 15%;
}

ul li {
    float: left;
    width: 200px;
    height: 20px;
    opacity: 0.8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;    
    margin-right: 2px;
    border-radius: 3px;
}

ul li a {
    text-decoration: none;
    display: block;
}

ul li a:hover {
    text-transform: uppercase;  
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
    margin-left: -19px;
} 

.text {
    font-weight: normal;
    font-size: 100px;
    text-align: left;
    color: #000;
}

#footer {
    clear: both;
    background-color: #7594E7;
    color: #000;
    text-align: center;
    height: 40px;
    margin-top: -40px;
}