@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif !important;
     padding: 0;
     margin: 0; 
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 150px !important;
    background: #4e67eb;
    filter: drop-shadow(3px 6px 6px rgba(36, 33, 33, 0.65));
    margin-bottom: 0 !important;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid white; 
}

.navbar-brand {
    color: #fff;
    font-size: 450%;
    text-decoration-line: none;
}

div#navbar-brand {
    width: 50%;
    /* padding-top: 1.9%;  */
    padding-left: 3%;
    float: left;
}

#menu {
    overflow: hidden;
    padding: 4% 0 4% 0;
    margin-right: 5%;
}

/* .text {
    font-weight: normal;
    font-size: 100px;
    text-align: left;
    color: #000;
} */

nav li a, .dropbtn {
    display: inline-block;
    color: #fff;  
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(240, 244, 255, 0.233);
    text-decoration: none;
    transition-duration: 0.45s;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(22, 20, 20, 0.2);
    z-index: 1;
    background-color: #4e67eb;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius:  5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #3a50be;
    transition-duration: 0.45s;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#fill{
    height: 306px;
}
#fill1{
    height: 300px;
}
#fill2

.footer {
    text-align: center;
    max-height: 20px;
}
.footer p {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #7594E7;
    color: white;
} 
