@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif !important;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


nav li {
    float: left;
}

nav li a {
    color: #000;
    text-decoration: none;
}

nav {
    width: 1921px;
    height: 210.76px;
    background: #4e67eb;
    filter: drop-shadow(3px 6px 6px rgba(36, 33, 33, 0.65));
}

.icon {
    width: 205px;
    height: 205px;
    /* background: url(...); */
}

.text {
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 100px;
    text-align: left;
    color: #fff;
}

.menu {
    width: 587.5px;
    height: 74px;
    background: transparent;
}
/* !deze moet sws nog flink anders want hij pakt ander soort waardes ^^ */

#footer {
    clear: both;
    background-color: red;
    color: white;
    text-align: center;
    height: 40px;
    margin-top: -40px;
}